#bodyCategoria {
    background-color: rgb(200, 201, 202);
}

#bodyPedido {
    background-color: rgb(200, 201, 202);
}

#bodyProducto {
    background-color: rgb(200, 201, 202);
}

#contenidoCategoria {
    background-color: rgb(110, 107, 107);
    /* padding: 20px;
    border-radius: 5px; */
}