<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categoría</title>
    <link rel="stylesheet" href="/FrontPedido/style/style.css">
    <link rel="stylesheet" href="/Bootstrap/biblioteca bootstrap/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-4 shadow-sm p-4 bg-white rounded">

        <h3 class="mb-4 text-primary">Gestión de Categorías</h3>

        <div class="row mb-4">
            <div class="col-md-9 mb-2 mb-md-0">
                <input type="text" id="nombreCategoria" class="form-control"
                    placeholder="Ingrese el nombre de la nueva categoría...">
            </div>
            <div class="col-md-3">
                <button class="btn btn-primary w-100" id="btnGuardar" onclick="AgregarCategoria()">
                    Guardar
                </button>
            </div>
        </div>

<!-- Modal -->
        <div class="modal fade" id="editarCategoria" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <input type="hidden" id="idEditar">
                        <input type="text" id="nombreEditar" placeholder="Ingrese nuevo Nombre">
                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary" onclick="EditarCategoria()">Guardar</button>
                    </div>
                </div>
            </div>
        </div>


        <table class="table table-bordered table-hover">
            <thead class="table-light">
                <tr>
                    <th scope="col">Nombre</th>
                </tr>
            </thead>
            <tbody id="TablaCategoria">

            </tbody>
        </table>

    </div>

    <script src="../Bootstrap/biblioteca bootstrap/js/bootstrap.min.js"></script>
    <script src="../js/Categoria.1.0.0.js"></script>
</body>

</html>