<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/Bootstrap/biblioteca bootstrap/css/bootstrap.min.css">
</head>

<body class="bg-success">

    <div class="container mt-4 shadow-sm p-4 bg-white rounded">
        <h1 class="mb-4 text-success">Gestión de Pedidos</h1>

        <div class="row mb-4">
            <h4>Detalle del pedido</h4>
            <div class="row mb-4 align-items-end mt-3">
                <div class="col-md-4 mb-3 mb-md-0">
                    <label class="form-label">Producto</label>
                    <select class="form-control bg-light" id="producto" onchange="cargarPrecio()">
                        <option value="">[SELECCIONE...]</option>
                    </select>
                </div>
                <div class="col-md-3 mb-3 mb-md-0">
                    <label class="form-label">Cantidad</label>
                    <input type="number" class="form-control bg-light" id="cantidad" placeholder="Ingrese Cantidad...">
                </div>
                <div class="col-md-3 mb-3 mb-md-0">
                    <label class="form-label">Precio Unitario</label>
                    <input type="number" id="precioUnitario" class="form-control bg-light" step="0.01" placeholder="Ingrese Precio..." readonly>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-primary w-100 fw-bold" onclick="AgregarDetalle()">
                        Agregar
                    </button>
                </div>
            </div>

            <!-- tabla detalle memoria -->
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover table-success text-center align-middle">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Precio Unitario</th>
                            <th scope="col">Subtotal</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody id="tablaDetalles">

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="/js/Pedido1.0.0.js"></script>
    <script src="/Bootstrap/biblioteca bootstrap/js/bootstrap.min.js"></script>
</body>

</html>