<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="../Bootstrap/biblioteca bootstrap/css/bootstrap.min.css">
</head>
<body>

    <div class="container">
        <h1 class="mb-4">Producto</h1>

        <div class=" ">
            <div class="d-flex gap-2 mb3">
                <select name="CategoriaID" id="CategoriaID" class="form-control">
                    <option value="">[SELECCIONE...]</option>
                </select>
            </div>
        </div>
    </div>
    
    <script src="../Bootstrap/biblioteca bootstrap/js/bootstrap.min.js"></script>
    <script src="../js/Producto1.0.0.js"></script>
</body>
</html>