<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto</title>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/Bootstrap/biblioteca bootstrap/css/bootstrap.min.css">
</head>

<body class="bg-danger">

    <div class="container mt-4 shadow-sm p-4 bg-white rounded">

        <div class="container mb-4">
            <h1 class="mb-4 text-danger">Gestión de Productos</h1>

            <div class="">
                <div class="d-flex row">
                    <div class="col-md-3">
                        <select name="CategoriaID" id="CategoriaID" class="form-control bg-light">
                        <option value="">[SELECCIONE...]</option>
                    </select>
                    </div>
                    <div class="col-md-3 mb-3">
                         <input type="text" class="form-control bg-light" id="nombreProducto" placeholder="Ingrese nombre">
                    </div>
                    <div class="col-md-3">
                        <input type="number" class=" form-control bg-light" id="costoProducto" placeholder="Ingrese costo">
                    </div>
                    <div class="col-md-3">
                        <input type="number" class="form-control bg-light" id="ventaProducto" placeholder="Ingrese precio">
                    </div>
                    <div class="col-md-3">
                        <input type="number" class="form-control bg-light" id="stockProducto" placeholder="Ingrese stock">
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control bg-light" id="descripcionProducto" placeholder="Ingrese descripción">
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-primary w-100 fw-bold" onclick="agregarProducto()">Guardar</button>
                    </div>
                </div>
            </div>
        </div>

<!-- Modal -->
        <div class="modal fade" id="editarProducto" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-warning">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Producto</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body bg-light row m-0">

                            <input type="hidden" id="idEditarProducto">
                        <div class="col-md-4">
                            <label for="nombreEditarProducto">Nombre</label>
                            <input type="text" class="form-control" id="nombreEditarProducto" placeholder="Ingrese nuevo Nombre">
                        </div>
                        <div class="col-md-4">
                            <label for="costoEditarProducto">Costo</label>
                            <input type="number" class="form-control" id="costoEditarProducto" placeholder="Ingrese nuevo Costo">
                        </div>
                        <div class="col-md-4">
                            <label for="precioEditarProducto">Precio</label>
                            <input type="number" class="form-control" id="precioEditarProducto" placeholder="Ingrese nuevo Precio">
                        </div>
                        <div class="col-md-4">
                            <label for="stockEditarProducto">Stock</label>
                            <input type="number" class="form-control" id="stockEditarProducto" placeholder="Ingrese nuevo Stock">
                        </div>
                        <div class="col-md-4">
                            <label for="CategoriaIDeditar">Categoria</label>
                            <input type="number" class="form-control" id="CategoriaIDeditar" placeholder="Ingrese nueva Categoria">
                        </div>

                    </div>

                    <div class="modal-footer bg-light">
                        <button type="button" class="btn btn-secondary fw-bold" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary fw-bold" onclick="editarProducto()">Guardar</button>
                    </div>
                </div>
            </div>
        </div>

<!-- Tabla -->
        <table class="table table-bordered table-hover table-danger table-striped">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Costo</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Descripción</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody id="tablaProducto">

            </tbody>
        </table>

    </div>


    <script src="/Bootstrap/biblioteca bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/Producto1.0.0.js"></script>
</body>

</html>